<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ title() }}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('x')"></button>
</div>

<div class="modal-body">
    <div class="mb-3">
        @if (message()) {
            <div class="col">
                {{ message() }}
            </div>
        }
        @if (html()) {
            <div [innerHTML]="html() | safeHtml"></div>
        }
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn" [class]="btnClass()" (click)="modal.close('ok')">{{ btnOkText() }}</button>
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel')">{{ btnCancelText() }}</button>
</div>
