.dashboard-container {
    margin: 1rem;
}

.fill {
    fill: var(--bs-body-color);
}

.height-m, .height-m-l {
    height: clamp(10rem, 30vh, 90vh);
}

.right-1 {
    right: 1rem;
}

.separator {
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
    padding-top: 2rem;
    padding-bottom: 5rem;
}

.textDataLabel {
    font-size: 1.5rem !important;
    transform: translateY(5px);
    text-anchor: middle;
    text-shadow: 1px 1px 1px var(--bs-body-bg);
}

.ngx-charts {
    .bar.active,
    .arc.active {
        opacity: 1!important;
        filter: drop-shadow(0px 0px 5px silver);
    }
}

.textDataLabel {
    pointer-events: none;
}

.advanced-pie-legend {
    height: 100%;

    .legend-items-container .legend-items {
        white-space: nowrap;
        overflow: auto;
        display: flex;
        flex-wrap: wrap;

        .legend-item {
            margin-bottom: 20px;

            &:hover {
                color: var(--bs-body-color) !important;
                background: #ababab17;
                border-radius: 5px;            }
        }
    }
}

@media (max-width: 390px) {
    .dashboard-container {
        margin-left: -0.5rem;
        margin-right: -0.5rem;
    }

    .height-m-l {
        height: clamp(10rem, 40vh, 90vh);
    }

}

@media (min-width: 1200px) {
    .separator {
        border-top: none;
        border-bottom: none;
        border-left: 1px solid silver;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}
