.form {
    container-name: form-container;
    container-type: inline-size;
}

.form-control {
    text-overflow: ellipsis;

    &:disabled {
        background-color: transparent;
    }
}

.auth {
    width: 7.5rem;
}

.customerNumber {
    width: 9rem;
    margin-left: auto;
}

.phone {
    min-width: 10rem;
}

.btn-tel {
    width: auto;
    padding: 0;
    margin: 25px 0 -5px 0;
}

.address-label {
    width: 6.2rem;
    padding-right: 0;
}

.plz {
    width: 5rem;
}

.hidden-controls {
    color: rgba(40, 40, 40, 10%)
}

@container form-container (width < 500px) {
    .country {
        width: 100%;
        margin-top: 0.5rem;
    }

    .country-label {
        width: 6.2rem;
    }

}

.icon {
    height: 24px;
    width: 24px;
    fill: var(--bs-body-color);
}



