.costumer-list,
.customer-detail {
    width: 100%;
}

.detail-selected {
    display: none;
}


@media (min-width: 767.98px) {
    .customer-detail {
        width: 50%;
    }

    .detail-selected {
        display: block;
        width: 50%;
    }
}
