<div class="row m-0">
    <div class="row pe-0 mb-3 align-items-center">
        <div class="col">
            <h1 class="">Kunden Liste</h1>
        </div>
        <div class="col-auto float-end pe-0">
            <button class="btn btn-primary"
                    (click)="createUser()"
            >Neuer Kunde
            </button>
        </div>
    </div>

        <div class="customer-list" [ngClass]="{'detail-selected': showDetail()}">
            <customer-list></customer-list>
        </div>
        <div class="divider-v"></div>
        <div class="customer-detail">
            <router-outlet
                    (activate)="showDetail.set(true)"
                    (deactivate)="showDetail.set(false)"
            ></router-outlet>
        </div>
</div>

