
<button type="button" (click)="back()" class="btn btn-light ms-sm-4 btn-back">
    <fa-icon [icon]="faChevronLeft" class="fa-xl"></fa-icon>
</button>

<main class="form-signin w-100 m-auto">
    <form (submit)="submit(form)" #form="ngForm">
        <h1 class="h3 mb-3 fw-normal">{{ viewEl().title }}</h1>

        <!-- Email -->
        <div class="form-floating">
            <input type="email"
                   id="signInEmail"
                   class="form-control"
                   autocomplete="email"
                   placeholder="name@provider.com"
                   ngModel
                   name="email"
                   required
                   email
                   #email="ngModel"
            >
            <label for="signInEmail">Email:</label>
        </div>

        <!-- Password -->
        <div class="form-floating position-relative">
            <input [type]= "isPasswordHidden() ? 'password' : 'text'"
                   id="signInPassword"
                   class="form-control"
                   autocomplete="password"
                   placeholder="password"
                   name="password"
                   ngModel
                   required
                   [pattern]="isSignUp() ? '^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?!.* ).{10,100}$' : ''"
                   #password
            >
            <label for="signInPassword">Passwort:</label>
            <fa-icon [icon]="isPasswordHidden() ? faEye : faEyeSlash"
                     class="form-password-svg" size="lg"
                     (click)="isPasswordHidden.set(!isPasswordHidden())"
            ></fa-icon>

            <!-- Validation Hints -->
            @if (isSignUp()) {
                <ul class="form-text">
                    <li [ngClass]="{'text-success': email.valid}">Gültige E-mail Adresse</li>
                    <li [ngClass]="{'text-success': validateMinLengthNoSpace(password.value)}">Passwortlänge min. 10 Zeichen ohne Leerzeichen</li>
                    <li [ngClass]="{'text-success': validateHasCapital(password.value)}">1 Grossbuchstabe</li>
                    <li [ngClass]="{'text-success': validateHasChar(password.value)}">1 Kleinbuchstabe</li>
                    <li [ngClass]="{'text-success': validateHasNumber(password.value)}">1 Zahl</li>
                </ul>
            }

        </div>

        <!-- Remember me -->
        @if (!isSignUp()) {
            <div class="form-check text-start my-3">
                <input type="checkbox"
                       id="signInRememberEmail"
                       class="form-check-input"
                       name="rememberMe"
                       ngModel
                >
                <label class="form-check-label" for="signInRememberEmail">
                    Email merken
                </label>
            </div>
        }
        <button type="submit"
                class="btn btn-primary w-100 py-2"
                [disabled]="!form.valid"
        >{{viewEl().btnOk}}</button>

        <!-- Error text -->
        @if(store.authError()) {
            <hr>
            <div class="alert alert-danger">
                <div>
                    <fa-icon [icon]="faTriangleExclamation" size="xl" class="me-3"></fa-icon>
                    {{store.authError()}}</div>
            </div>
            <br>
        }

        <!-- Reset password -->
        @if (!isSignUp()) {
            <button type="button" class="btn btn-link mt-4 mx-auto"
                    (click)="resetPassword(email.value)"
            >Passwort vergessen?<span class="me-2"></span>Zurücksetzen via email</button>
        }

    </form>
</main>
