form {
    display: flex;
    flex-direction: column;
}

ul {
    position: relative;
    list-style: none;
    margin-left: 0;
    padding-left: 1.2em;
}

ul li:before {
    content: "-";
    position: absolute;
    left: 0;
}

ul li.text-success:before {
    content: "\2713";
    font-weight: bold;
}

.form-floating:focus-within {
    z-index: 2;
}

.form-signin {
    max-width: 400px;
    padding: 1rem;
}

input[name="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

input[name="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-password-svg {
    position: absolute;
    right: 1em;
    top: 1em;
    color: #5f6368;
}

.btn-back {
    border-radius: 100px;
    width: 3em;
    height: 3em;
}

