
.photo-container {
    container-name: photo-container;
    container-type: inline-size;
}

.photo-grid-landscape {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.photo-grid-portrait {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.photo-item {
    width: 100%;
}

.fullscreen {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100vw);
    background: var(--bs-body-bg);
    padding: 1rem;
}

@container photo-container (width > 600px) {
    .photo-grid-landscape {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .photo-grid-portrait {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.dropdown-icon {
    fill: var(--bs-dropdown-link-color);
}

.dropdown-item.disabled > .dropdown-icon {
    fill: var(--bs-dropdown-link-disabled-color);
}

.dropdown-toggle {
    fill: #666666;

    &:hover,
    &:focus {
        fill: #0D6EFDFF;
    }

    &::after {
        display: none;
    }
}
