
.photo-gallery {
    container-name: photo-gallery;
    container-type: inline-size;
}

.fullscreen .gallery-toolbar {
    position: sticky;
    top: 0;
    z-index: 3;
    padding: 0.5rem;
    background-color: var(--bs-body-bg);
    margin: 0;
}

.photo-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%
}

.photo-item {
    width: 100%;
}

.fullscreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--bs-body-bg);
}

@container photo-gallery (width > 600px) {
    .photo-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.dropdown-icon {
    fill: var(--bs-dropdown-link-color);
}

.dropdown-item.disabled > .dropdown-icon {
    fill: var(--bs-dropdown-link-disabled-color);
}

.dropdown-toggle {
    fill: #666666;

    &:hover,
    &:focus {
        fill: #0D6EFDFF;
    }

    &::after {
        display: none;
    }
}
