
@if (showCarousel() == null) {
    <div class="photo-gallery" [ngClass]="{fullscreen: fullScreen()}">
        <div class="row align-items-center mb-2 flex-row-reverse gallery-toolbar">
            <div class="col d-flex justify-content-end">
                @if (fullScreen()) {
                    <button (click)="showFullScreen(false)" name="fullscreen" class="btn" ngbTooltip="Vollbild verlassen">
                        <svg xmlns="http://www.w3.org/2000/svg" height="32px" viewBox="0 -960 960 960" width="32px" fill="#0D6EFDFF"><path d="M240-120v-120H120v-80h200v200h-80Zm400 0v-200h200v80H720v120h-80ZM120-640v-80h120v-120h80v200H120Zm520 0v-200h80v120h120v80H640Z"/></svg>
                    </button>
                } @else {
                    <button (click)="showFullScreen(true)" name="fullscreen" class="btn" ngbTooltip="Vollbild anzeigen">
                        <svg xmlns="http://www.w3.org/2000/svg" height="32px" viewBox="0 -960 960 960" width="32px" fill="#0D6EFDFF"><path d="M120-120v-200h80v120h120v80H120Zm520 0v-80h120v-120h80v200H640ZM120-640v-200h200v80H200v120h-80Zm640 0v-120H640v-80h200v200h-80Z"/></svg>
                    </button>
                }

                @if (store.isAdmin()) {
                    <button (click)="uploadPhotos()" name="uploadPhotos" class="btn" ngbTooltip="Fotos hochladen">
                        <svg xmlns="http://www.w3.org/2000/svg" height="32px" viewBox="0 -960 960 960" width="32px" fill="#0D6EFDFF"><path d="m440-446-36 35q-11 11-27.5 11T348-412q-11-11-11-28t11-28l104-104q12-12 28-12t28 12l104 104q11 11 11.5 27.5T612-412q-11 11-27.5 11.5T556-411l-36-35v206h220q42 0 71-29t29-71q0-42-29-71t-71-29h-60v-80q0-83-58.5-141.5T480-720q-83 0-141.5 58.5T280-520h-20q-58 0-99 41t-41 99q0 58 41 99t99 41h60q17 0 28.5 11.5T360-200q0 17-11.5 28.5T320-160h-60q-91 0-155.5-63T40-377q0-78 47-139t123-78q25-92 100-149t170-57q117 0 198.5 81.5T760-520q69 8 114.5 59.5T920-340q0 75-52.5 127.5T740-160H520q-33 0-56.5-23.5T440-240v-206Zm40 6Z"/></svg>
                    </button>
                }
                <ng-template #downloadTooltipContent>
                    {{selectedPhotos().length === 0
                    ? 'Alle Fotos'
                    : selectedPhotos().length | units:'':'selektiertes Foto':'selektierte Fotos'}} herunterladen
                </ng-template>
                <button (click)="onDownloadMultiple()" name="downLoadAll" class="btn" [ngbTooltip]="downloadTooltipContent">
                    <svg xmlns="http://www.w3.org/2000/svg" height="32px" viewBox="0 -960 960 960" width="32px" fill="#0D6EFDFF"><path d="M480-337q-8 0-15-2.5t-13-8.5L308-492q-12-12-11.5-28t11.5-28q12-12 28.5-12.5T365-549l75 75v-286q0-17 11.5-28.5T480-800q17 0 28.5 11.5T520-760v286l75-75q12-12 28.5-11.5T652-548q11 12 11.5 28T652-492L508-348q-6 6-13 8.5t-15 2.5ZM240-160q-33 0-56.5-23.5T160-240v-80q0-17 11.5-28.5T200-360q17 0 28.5 11.5T240-320v80h480v-80q0-17 11.5-28.5T760-360q17 0 28.5 11.5T800-320v80q0 33-23.5 56.5T720-160H240Z"/></svg>
                </button>
                @if (filter()) {
                    <ng-template #filterTooltipContent>
                        Filter zurücksetzen<br>(alle anzeigen)
                    </ng-template>
                    <button (click)="onFilter(null)" name="resetFilter" class="btn" [ngbTooltip]="filterTooltipContent">
                        <svg xmlns="http://www.w3.org/2000/svg" height="32px" viewBox="0 -960 960 960" width="32px" fill="#BB271A"><path d="m592-481-57-57 143-182H353l-80-80h487q25 0 36 22t-4 42L592-481Zm-32 194v87q0 17-11.5 28.5T520-160h-80q-17 0-28.5-11.5T400-200v-247L84-763q-11-11-11-27.5T84-819q12-12 28.5-12t28.5 12l679 679q12 12 11.5 28T819-84q-12 11-28 11.5T763-84L560-287Zm-25-251Z"/></svg>
                    </button>
                }
                <div ngbDropdown class="d-inline-block align-items-end">
                    <button type="button" class="btn" id="dropdownPhotoTools" ngbDropdownToggle>
                        <svg xmlns="http://www.w3.org/2000/svg" height="32px" viewBox="0 -960 960 960" width="32px" fill="inherit"><path d="M160-240q-17 0-28.5-11.5T120-280q0-17 11.5-28.5T160-320h640q17 0 28.5 11.5T840-280q0 17-11.5 28.5T800-240H160Zm0-200q-17 0-28.5-11.5T120-480q0-17 11.5-28.5T160-520h640q17 0 28.5 11.5T840-480q0 17-11.5 28.5T800-440H160Zm0-200q-17 0-28.5-11.5T120-680q0-17 11.5-28.5T160-720h640q17 0 28.5 11.5T840-680q0 17-11.5 28.5T800-640H160Z"/></svg>
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownPhotoTools">
                        <button ngbDropdownItem (click)="onSelectAll(true)" name="selectAll">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" class="dropdown-icon"><path d="m424-408-86-86q-11-11-28-11t-28 11q-11 11-11 28t11 28l114 114q12 12 28 12t28-12l226-226q11-11 11-28t-11-28q-11-11-28-11t-28 11L424-408Zm56 328q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"/></svg>
                            Alle selektieren
                        </button>
                        <button ngbDropdownItem (click)="onSelectAll(false)" name="deselectAll">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" class="dropdown-icon"><path d="M480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"/></svg>
                            Alle deselektieren
                        </button>
                        <div class="dropdown-divider"></div>
                        <button ngbDropdownItem (click)="onFilter('liked')" [disabled]="store.photosEntities().length === 0" name="filterLiked">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" class="dropdown-icon"><path d="M480-147q-14 0-28.5-5T426-168l-69-63q-106-97-191.5-192.5T80-634q0-94 63-157t157-63q53 0 100 22.5t80 61.5q33-39 80-61.5T660-854q94 0 157 63t63 157q0 115-85 211T602-230l-68 62q-11 11-25.5 16t-28.5 5Z"/></svg>
                            Filter: Favoriten
                        </button>
                        <button ngbDropdownItem (click)="onFilter('selected')" [disabled]="selectedPhotos().length === 0" name="filerSelected">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" class="dropdown-icon"><path d="m424-408-86-86q-11-11-28-11t-28 11q-11 11-11 28t11 28l114 114q12 12 28 12t28-12l226-226q11-11 11-28t-11-28q-11-11-28-11t-28 11L424-408Zm56 328q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z"/></svg>
                            Filter: Selektierte
                        </button>
                        <div class="dropdown-divider"></div>
                        @if (store.isAdmin()) {
                            <button ngbDropdownItem (click)="onRemoveSelected()" [disabled]="selectedPhotos().length === 0" name="deleteSelected">
                                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" class="dropdown-icon"><path d="M280-120q-33 0-56.5-23.5T200-200v-520q-17 0-28.5-11.5T160-760q0-17 11.5-28.5T200-800h160q0-17 11.5-28.5T400-840h160q17 0 28.5 11.5T600-800h160q17 0 28.5 11.5T800-760q0 17-11.5 28.5T760-720v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM400-280q17 0 28.5-11.5T440-320v-280q0-17-11.5-28.5T400-640q-17 0-28.5 11.5T360-600v280q0 17 11.5 28.5T400-280Zm160 0q17 0 28.5-11.5T600-320v-280q0-17-11.5-28.5T560-640q-17 0-28.5 11.5T520-600v280q0 17 11.5 28.5T560-280ZM280-720v520-520Z"/></svg>
                                {{selectedPhotos().length}} Selektierte löschen
                            </button>
                        }
                    </div>
                </div>

            </div>
            <div class="col-auto mt-2 me-auto">{{infoText()}}</div>
        </div>


        <div class="photo-container">
            @if (filteredPhotosLandscape().length > 0) {
                <div class="photo-grid">
                    @for (photo of filteredPhotosLandscape(); track $index) {
                        <photo-item
                                class="photo-item"
                                [photo]="photo"
                                [index]="$index"
                                [tabCount]="3"
                                (selected)="onSelectChanged($event )"
                                (liked)="onLikedChanged($event)"
                                (download)="onDownload($event)"
                                (viewInCarousel)="openCarousel(photo)"
                                (keydown)="onKeyDown($event)"
                                (focusin)="onFocus($event)"
                        ></photo-item>
                    }
                </div>
            }
            @if (filteredPhotosPortrait().length > 0) {
                <div class="photo-grid">
                    @for (photo of filteredPhotosPortrait(); track $index) {
                        <photo-item
                                class="photo-item"
                                [photo]="photo"
                                [index]="filteredPhotosLandscape().length + $index"
                                [tabCount]="3"
                                (selected)="onSelectChanged($event )"
                                (liked)="onLikedChanged($event)"
                                (download)="onDownload($event)"
                                (viewInCarousel)="openCarousel(photo)"
                                (keydown)="onKeyDown($event)"
                                (focusin)="onFocus($event)"
                        ></photo-item>
                    }
                </div>
            }
        </div>

    </div>

} @else {
    <photo-carousel
            [photos]="filteredPhotos()"
            [showWithPhoto]="showCarousel()"
            (close)="hideCarousel($event)"
            (liked)="onLikedChanged($event)"
    ></photo-carousel>
}


