<div class="row">
    <div class="col">
        <button type="button"
                class="btn btn-secondary"
                (click)="uploadPhotos()">Photos hochladen
        </button>
    </div>
</div>


<div class="photo-grid">
    @for (item of store.photosEntities(); track $index) {
        <photo-item
                class="photo-item"
                [photo]="item"
                [index]="$index"
                (selected)="onSelect($event, item )"
                (liked)="onLiked($event, item)"
                (download)="onDownload($event)"
        ></photo-item>
    }
</div>


