
.photo-container {
    container-name: photo-container;
    container-type: inline-size;
}

.photo-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.3rem;
}

.photo-item {
    width: 100%;
}


@container photo-container (width > 600px) {
    .photo-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.dropdown-icon {
    fill: var(--bs-dropdown-link-color);
}

.dropdown-item.disabled > .dropdown-icon {
    fill: var(--bs-dropdown-link-disabled-color);
}

.dropdown-toggle {
    fill: #666666;

    &:hover,
    &:focus {
        fill: #0D6EFDFF;
    }

    &::after {
        display: none;
    }
}
