
<!-- Filter -->
    <div class="mb-3 row" [ngClass]="{'d-none': hideFilter()}">
        <label for="_search" class="col-2 col-form-label">Filter:</label>
        <div class="col-6 d-flex">
            <input #search
                   id="_search"
                   type="text"
                   class="form-control"
                   name="searchTerm"
                   [value]="state().filter"
                   (input)="onFilter(search.value)"
            />
            <button type="button" class="btn clear-filter" [hidden]="!search.value">
                <svg class="icon" width="24" height="24" fill="transparent" (click)="onClearFilter()">
                    <use href="#clearfilter"></use>
                </svg>
            </button>
        </div>
        <span class="col col-form-label ms-3">{{countInfo()}}</span>
    </div>

<!-- Table -->
<div class="row">
    <div class="col overflow-x-auto">
        <table class="table table-striped table-hover">
            <thead (click)="onSort($event)">
            <tr>
                @for(colDef of colDefs(); track $index) {
                    @if (!colDef.hidden) {
                        <th scope="col"
                            [attr.data-field]="colDef.field"
                            [width]="colDef.width ? colDef.width : 'unset' "
                            [ngClass]="{
                                'sortable': !colDef.disableSort,
                                'asc' : state().sortOrder === 'asc' && state().sortColumn === colDef.field,
                                'desc' : state().sortOrder === 'desc' && state().sortColumn === colDef.field,
                                }"
                        > {{ colDef.headerName }}
                        </th>
                    }
                }
            </tr>
            </thead>
            <tbody>
                @for (row of rowDataFilteredSorted(); track row['id'] || $index) {
                    <tr role="button" [ngClass]="{'table-active': row['id'] === selectedId()}" (click)="onSelected(row)">
                        @for(colDef of colDefs(); track $index) {
                            @if (!colDef.hidden) {
                                @switch (colDef.format) {
                                    @case (undefined) {
                                        <td>{{ row[colDef.field] }}</td>
                                    }
                                    @case ('boolean') {
                                        <td class="text-center">
                                            @if (row[colDef.field]) {
                                                <svg class="icon"><use href="#check"></use></svg>
                                            } @else if (row[colDef.field] !== undefined) {
                                                <svg class="icon"><use href="#cross"></use></svg>
                                            }
                                        </td>
                                    }
                                    @default {
                                        <td [innerHTML]="formatValue( row[colDef.field], colDef.format)"></td>
                                    }
                                }
                            }
                        }
                    </tr>
                } @empty {
                    <tr>
                        <td [attr.colspan]="colDefs().length" class="no-data" style="text-align: center">No data found</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
    <symbol id="clearfilter" viewBox="0 -960 960 960">
        <path d="m592-481-57-57 143-182H353l-80-80h487q25 0 36 22t-4 42L592-481ZM791-56 560-287v87q0 17-11.5 28.5T520-160h-80q-17 0-28.5-11.5T400-200v-247L56-791l56-57 736 736-57 56ZM535-538Z"/>
    </symbol>
    <symbol id="check" viewBox="0 -960 960 960">
        <path d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z"/>
    </symbol>
    <symbol id="cross" viewBox="0 -960 960 960" fill="red">
        <path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/>
    </symbol>
</svg>

