
<nav class="navbar navbar-expand-sm " aria-label="Navigation bar">
    <div class="container-fluid mb-3">
        <a class="navbar-brand" href="#">
            <img src="pinistudios_200.png" alt="Pini Studios" height="50">
        </a>
        <button class="navbar-toggler border border-0" type="button" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" (click)="collapsed.set(!collapsed())"></span>
        </button>


        <!-- Centered-->
        <div class="navbar-collapse" [class.collapse]="collapsed()" (click)="collapsed.set(true)">
            <ul class="navbar-nav d-flex mx-sm-auto p-2">
                <li class="nav-item px-2 ms-sm-auto">
                    <a class="nav-link" role="button" routerLink="/home" routerLinkActive="active"
                    >Home</a>
                </li>
                @if (store.activeUser()?.auth === 'admin') {
                    <li class="nav-item px-2">
                        <a class="nav-link" role="button" routerLink="/customers" routerLinkActive="active"
                        >Kunden</a>
                    </li>
                    <li class="nav-item px-2">
                        <a class="nav-link" role="button" routerLink="/projects" routerLinkActive="active"
                        >Projekte</a>
                    </li>
                }
            </ul>
        </div>

        <div class="navbar-expand navbar-nav d-flex flex-row ms-auto">
            @if (store.activeUser()) {
                <a class="nav-item nav-link mx-1" role="button" routerLink="/account" routerLinkActive="active">
                    <fa-icon [icon]="faUserSolid" class="fa-xl" ngbTooltip="Kundenkonto"></fa-icon>
                </a>
            } @else {
                <button class="nav-item nav-link mx-1" role="button" (click)="onSignIn()">
                    <fa-icon [icon]="faUserOutline" class="fa-xl" ngbTooltip="Login"></fa-icon>
                </button>
            }

            <div ngbDropdown class="d-inline-block">
                <button type="button" class="btn nav-item nav-link mx-1">
                    <fa-icon [icon]="themeIcon()" class="fa-lg" ngbDropdownToggle ngbTooltip="Hell/Dunkel Modus"></fa-icon>
                </button>
                <div ngbDropdownMenu class="dropdown-menu-end position-absolute">
                    <button ngbDropdownItem (click)="setTheme('light')"><fa-icon [icon]="themeIcons.light" class="me-2"></fa-icon>Heller Modus</button>
                    <button ngbDropdownItem (click)="setTheme('dark')"><fa-icon [icon]="themeIcons.dark" class="me-2"></fa-icon>Dunkler Modus</button>
                    <button ngbDropdownItem (click)="setTheme('auto')"><fa-icon [icon]="themeIcons.auto" class="me-2"></fa-icon>Automatisch</button>
                </div>
            </div>

        </div>

    </div>
</nav>

