.brand-banner {
    letter-spacing: 1vw;
    background: linear-gradient(90deg, transparent, #b8b8b824, transparent);
    text-align: center;
    padding: 1rem;
    border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    border-top: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
}

.hero {
    width: 100%;
    max-height: calc(100vh - 14.5rem);
    margin-top: 1rem;
    margin-bottom: 1rem;
    object-fit: contain;
}

.my-neg1 {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
}

.feature-icon {
    width: 100%;
    border-radius: 1rem;
    font-size: 2rem;
    display: grid;
    grid-template-columns: auto 1fr;
    transition: all 0.1s ease;
    align-items: center;
    background: linear-gradient(6deg, rgba(248, 140, 140, 0.35), rgba(255, 71, 71, 0), rgba(255, 187, 215, 0.35));
    padding: 0;

    &:hover {
        transform: scale(1.05);
    }

    &:focus-within {
        outline: 3px solid red;
    }
}
.feature-icon-svg {
    display: block;
    width: 4.5rem;
    height: 4.5rem;
    fill: #eeeeee;
    background: linear-gradient(#e20000, #b40000);
    padding: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.icon-small {
    width: 1em;
    height: 1em;
    fill: var(--bs-primary)
}

.contact-grid {
    display: grid;
    grid-template-columns: 2rem auto;
    align-items: center;
    gap: 2px;
}

.contact-text {
    font-size: 1.1rem;
}

.portfolio {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1px;
}

.portfolio-text {
    letter-spacing: 1rem;
    opacity: 60%;
}

.picture-item {
    width: 100%;
}

@media (min-width: 576px) {
    .portfolio {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 992px) {
    .portfolio {
        grid-template-columns: 1fr 1fr 1fr;
    }

}
