.spaced {
    letter-spacing: 1vw;
}
.feature-icon {
    width: 100%;
    border-radius: 1rem;
    font-size: 2rem;
    display: grid;
    grid-template-columns: auto 1fr;
    transition: all 0.1s ease;
    align-items: center;
    background: linear-gradient(12deg, #f88c8c42, #ff47471a, #ffbbd740);
    padding: 0;

    &:hover {
        transform: scale(1.05);
    }
}
.feature-icon-svg {
    display: block;
    width: 4.5rem;
    height: 4.5rem;
    fill: #eeeeee;
    background: linear-gradient(#e20000, #b40000);
    padding: 1rem;
    border-radius: 1rem;
}

.icon-small {
    width: 1em;
    height: 1em;
    fill: var(--bs-primary)
}

.contact-grid {
    display: grid;
    grid-template-columns: 2rem auto;
    align-items: center;
    gap: 2px;
}

.contact-text {
    font-size: 1.1rem;
}


.portfolio {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1px;
}

.picture-item {
    width: 100%;
}

@media (min-width: 576px) {
    .portfolio {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 992px) {
    .portfolio {
        grid-template-columns: 1fr 1fr 1fr;
    }

}
