:host {
    position: relative;
    container-type: inline-size;

    &:hover {
        .name {
            opacity: 1;
        }
    }
}

.img {
    width: 100%;
    height: auto;
}

.name {
    position: absolute;
    width: 100%;
    bottom: 0;
    font-size: 1rem;
    font-weight: lighter;
    text-align: center;
    text-shadow: 1px 1px 4px black;
    color: #E3E3E3FF;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7019607843), rgb(0 0 0 / 0%));
    height: 3rem;
    padding-top: 1.3rem;
    opacity: 40%;
    transition: opacity 0.2s;
}

@container (min-width: 230px) {
    .name { font-size: 1.6rem; height: 4rem; padding-top: 1.4rem; }
}

@container (min-width: 290px) {
    .name { font-size: 2rem; height: 5rem; padding-top: 1.7rem;}
}

@container (min-width: 320px) {
    .name { font-size: 2.2rem; height: 5rem; padding-top: 1.4rem;}
}

@container (min-width: 400px) {
    .name { font-size: 2.7rem; height: 6rem; padding-top: 1.7rem;}
}
