<div class="row mx-0 mb-3 align-items-center" [ngClass]="{'hidden': hideListAndHeader()}">
    <div class="col">
        <h1 class="">Projekte</h1>
    </div>
    @if (store.isAdmin()) {
        <div class="col-auto float-end">
            <button class="btn btn-primary"
                    (click)="createProject()"
            >Neues Projekt
            </button>
        </div>
    }
</div>

<div class="row m-0">
    <div class="project-list" [ngClass]="{'project-selected': showDetail(), 'hidden': hideListAndHeader()}">
        <project-list></project-list>
    </div>

    <div class="divider-v" tabindex="100" (click)="toggleDetailsFullscreen()"></div>

    <div class="project-detail">
        <router-outlet
                (activate)="showDetail.set(true)"
                (deactivate)="showDetail.set(false)"
        ></router-outlet>
    </div>
</div>
