<div class="row">
    <div class="col mb-4 display-6">
        {{data()?.projectName}}
    </div>
</div>

<ul ngbNav #nav="ngbNav" class="nav-tabs mb-4">
    <li ngbNavItem [destroyOnHide]="false">
        <button ngbNavLink>Projekt Info</button>
        <ng-template ngbNavContent>
            <project-detail-info
                    [dataInput]="dataLoaded()"
                    (dataOutput)="onChangeInfo($event)"
            ></project-detail-info>
        </ng-template>
    </li>

    <li ngbNavItem [destroyOnHide]="false">
        <button ngbNavLink>Offerte</button>
        <ng-template ngbNavContent>
            <project-detail-cost
                    quoteOrInvoice="quote"
                    [dataInput]="dataLoaded()?.quote || null"
                    (dataOutput)="onChangeQuote($event)"
            ></project-detail-cost>
        </ng-template>
    </li>

    <li ngbNavItem [destroyOnHide]="false">
        <button ngbNavLink>Rechnung</button>
        <ng-template ngbNavContent>
            <project-detail-cost
                    quoteOrInvoice="invoice"
                    [dataInput]="dataLoaded()?.invoice || null"
                    (dataOutput)="onChangeInvoice($event)"
            ></project-detail-cost>
        </ng-template>
    </li>

    <li ngbNavItem>
        <button ngbNavLink>Fotos</button>
        <ng-template ngbNavContent>
            <project-photos
                [projectInfo]="data() || {}"
            ></project-photos>
        </ng-template>
    </li>
</ul>

<div [ngbNavOutlet]="nav"></div>


<!-- Button Ok / Cancel / Delete -->
    @if (store.isAdmin()) {
        <div class="row mt-5 mb-4">
            <div class="col d-flex justify-content-center">
                <button type="button"
                        class="btn btn-primary col"
                        (click)="onSave()"
                >Speichern</button>
                <button type="button"
                        class="btn btn-light col ms-3"
                        (click)="onCancel()"
                >Abbrechen</button>

                <button type="button"
                        class="btn btn-outline-danger col-auto ms-3"
                        (click)="onDelete()"
                >Löschen</button>
            </div>
        </div>
    }


