<form class="form" #form="ngForm">

    <!-- Project Name-->

    <div class="row mb-2 align-items-center">
        <div class="hours-label">
            <label class="form-label" for="travelHours">Anfahrt</label>
        </div>
        <div class="col">
            <input type="number"
                   class="form-control"
                   id="travelHours"
                   name="travelHours"
                   ngModel
            >
        </div>
    </div>


    <div class="row mb-3">
        <div class="col">
            <label class="form-label" for="remarks">Bemerkungen</label>
            <textarea id="remarks"
                      class="form-control"
                      rows="3"
                      name="remarks"
                      ngModel
            ></textarea>
        </div>
    </div>

</form>
