.form {
    container-name: form-container;
    container-type: inline-size;
}
.form-control, .form-select {
    text-overflow: ellipsis;

    &:disabled {
        background-color: transparent;
    }
}
.grid-2-col {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
}

.col-csm {
    width: 50%;
}

@container (max-width: 400px) {
    .grid-2-col {
        display: block;
    }

    .inline-input {
        margin-bottom: 0.7rem;
    }

    .col-csm {
        width: 100%
    }
}
