.nav-item {
    font-size: 1.25rem;

}
.navbar-nav .nav-link.active {
    border-bottom-style: solid;
    border-width: 1px;
}

.navbar-collapse:not(.collapse) {
    position: absolute;
    top: 70px;
    background: var(--bs-body-bg);
    width: 100%;
    box-shadow: 0 0 20px 10px #8080805c;
    margin: 0;
    left: 0;
    border: 2px #c9c9c9 solid;
    border-radius: 10px;
    z-index: 1200;
}

.icon {
    height: 40px;
    width: 40px;
    fill: var(--bs-nav-link-color);
    transition: fill 0.2s;
    &:hover {
        fill: var(--bs-nav-link-hover-color);
    }
}

.icon-small {
    height: 24px;
    width: 24px;
    margin-right: 8px;
}
