<input [type]="isPasswordHidden() ? 'password' : 'text'"
       class="form-control"
       [ngClass]="{'pw-invalid': isInvalid && isTouched}"
       autocomplete="password"
       placeholder="password"
       [value]="value()"
       [disabled]="disabled()"
       (input)="onInput($event)"
       (blur)="onBlur()"
>
<ng-content></ng-content>

<fa-icon [icon]="isPasswordHidden() ? faEye : faEyeSlash"
         class="form-password-svg" size="lg"
         (click)="isPasswordHidden.set(!isPasswordHidden())"
></fa-icon>

<!-- Validation Hints -->
@if (enableValidation()) {
    <ul class="form-text">
        <li [ngClass]="{'text-success': validated().minLengthNoSpace}">Passwortlänge min. 10 Zeichen ohne
            Leerzeichen
        </li>
        <li [ngClass]="{'text-success': validated().hasCapital}">1 Grossbuchstabe</li>
        <li [ngClass]="{'text-success': validated().hasChar}">1 Kleinbuchstabe</li>
        <li [ngClass]="{'text-success': validated().hasNumber}">1 Zahl</li>
    </ul>
}
