/* Importing complete Bootstrap SCSS file. */
// @import 'bootstrap/scss/bootstrap';


/* Importing individual Bootstrap components  */
// Configuration
@import "bootstrap/scss/functions";

// ************* Modify existing bootstrap colors *************
$body-bg: #f7f7f7;
// ************************************************************

@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";

// ******************* Add new custom colors *******************
$custom-colors: (
        "custom-pink": #ff51c6,
        "custom-purple": #b516f5,
);
$theme-colors: map-merge($theme-colors, $custom-colors);
// ************************************************************

@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

// Layout & components
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/tables";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
@import "bootstrap/scss/button-group";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/card";
@import "bootstrap/scss/accordion";
@import "bootstrap/scss/breadcrumb";
@import "bootstrap/scss/pagination";
@import "bootstrap/scss/badge";
@import "bootstrap/scss/alert";
@import "bootstrap/scss/progress";
@import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
@import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal";
@import "bootstrap/scss/tooltip";
@import "bootstrap/scss/popover";
@import "bootstrap/scss/carousel";
@import "bootstrap/scss/spinners";
@import "bootstrap/scss/offcanvas";
@import "bootstrap/scss/placeholders";

// Helpers
@import "bootstrap/scss/helpers";

// Utilities
@import "bootstrap/scss/utilities/api";


.btn-light {
    --bs-btn-bg: #ebebeb;
}

.form-control:focus, .form-select:focus {
    box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 80%);
    border-color: transparent;
}

[data-bs-theme="light"] {
    .form-control, .form-control:focus, .form-select {
        background-color: white
    }
}
[data-bs-theme="dark"] {
    .form-control, .form-control:focus, .form-select {
        background-color: #383838
    }
}
